<div class="registration-form">
  <h1 class="pintitle1">Welcome!</h1>
  <p class="pintextgray">Create a pinpoint account and never lose track of your favorite locations</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" } %>
      <%= f.input :email,
                  required: true,
                  autofocus: false,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :avatar,
                  required: true,
                  input_html: { autocomplete:
                    "avatar" } %>
      <%= f.input :avatar_cache, as: :hidden %>
    </div>

   <!--  <div class="terms-and-conditions">
      <div class="terms-button">
        <div class="terms-circle"></div>
      </div>
      <p>Accept terms & conditions</p>
    </div> -->

    <div class="margin-register">
      <%= f.button :submit, "SIGN UP", class: "main-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
