<div class="location-card-container">
  <div class="location-card">
  <div class="location-image"><%= image_tag spot.photo %></div>
      <div class="location-card-content">
        <h2 class="location-card-title"><%= spot.name %></h2>
        <p class="location-card-text-gray"><%= spot.open_now ? 'Open' : 'Closed' %></p>
        <p class="location-card-text"><%= spot.address %></p>
        <%= link_to 'VIEW', map_added_location_path(spot.map_id, spot.id), class:"location-card-btn main-btn" %>
      </div>
  </div>
</div>
