<%= simple_form_for map do |f| %>
<div class="form-inputs">
  <%= f.input :name, placeholder: 'Map Subject' %>
  <%= f.input :description, as: :string, placeholder: 'What is this map about?' %>
  <%= f.input :photo, required: true %>
  <%= f.input :photo_cache, as: :hidden %>
  <div id="users">
    <%= f.association :user, label_method: :name, input_html: { multiple: true, class: 'select2' },label: 'Add friends' %>
  </div>
</div>
<%= f.button :submit, class: "main-btn" %>
<% end %>
