<div class="location-page">

  <div class="location-image-container">
    <%= image_tag @location.photo.first, class:"location-image" %>
  </div>

  <div class="location-content-container">
    <div class="location-details">
      <h1><%= @location.name %></h1>
      <p><%= @location.types.first.capitalize %></p>
    </div>
    <p><%= @location.address %></p>
  </div>

  <div class="location-tags-container">
    <span>chulo</span>
    <span>copas</span>
    <span>romantico</span>

  <%= simple_form_for [@map, @location] do |f| %>
    <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list %>
      <%= f.submit "Add Tags" %>
    </div>
  <% end %>

  <div class="location-description-container">

  </div>

  <div class="location-photo-container">

  </div>

  <div class="location-reviews-container">

  </div>


</div>
