<div class="location-page">

  <div class="location-image-container">
    <%= image_tag @added_location.photo.first, class:"location-image" %>
  </div>

  <div class="location-content-container">
    <div class="location-details">
      <h1 class="pintitle1"><%= @added_location.name %></h1>
      <p class="pintextgray" style="margin-right: 16px;"><%= @added_location.types.first.capitalize %></p>
    </div>
    <p class="pintextgray"><%= @added_location.address %></p>
  </div>

  <div class="location-tags-container">
    <div class="tag-form">
      <%= render 'form', map: @map, location: @added_location %>
    </div>
</div>
