<div class="location-page">

  <div class="location-image-container">
    <%= image_tag @added_location.photo.first, class:"location-image" %>
  </div>

  <div class="location-content-container">
    <div class="location-details">
      <h1><%= @added_location.name %></h1>
      <p><%= @added_location.types.first.capitalize %></p>
    </div>
    <p><%= @added_location.address %></p>
  </div>

  <div class="location-tags-container">
    <div>
      <%= render 'form', map: @map, location: @added_location %>
    </div>
  <div class="location-description-container">

  </div>

  <div class="location-photo-container">

  </div>

  <div class="location-reviews-container">

  </div>


</div>
