<div class="location-page">

  <div class="location-image-container">
    <%= image_tag @added_location.photo.first, class:"location-image" %>
  </div>

  <div class="location-content-container">
    <div class="location-details">
      <h1 class="pintitle1" ><%= @added_location.name %></h1>
      <p class="pintextgray"><%= @added_location.types.first.capitalize %></p>
    </div>
    <p><%= @added_location.address %></p>
    <div class="tag-link">
      <p class="tags pintextgray"><span>Tags:</span> <%= @added_location.tag_list %> </p>
      <%= link_to "ADD TAGS", edit_map_added_location_path(@added_location.map_id), class: "tag-btn" %>
    </div>
  </div>


  <div class="location-description-container">

  </div>

  <div id="review">
    <% if @added_location.reviews.blank? %>
      Be the first to leave a review for <%= @added_location.name %>
    <% else %>
      <% @added_location.reviews.each do |review| %>
        <div class="review-card">
          <%= render 'reviews/show', review: review %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="new_review">
    <%= render 'reviews/form', map: @map, added_location: @added_location, review: @review %>
  </div>
</div>
