<div class="location-page">

  <div class="location-image-container">
    <%= image_tag @location.photo.first, class:"location-image" %>
  </div>

  <div class="location-content-container">
    <div class="location-details">
      <h1><%= @location.name %></h1>
      <p><%= @location.types.first.capitalize %></p>
    </div>
    <p><%= @location.address %></p>
  </div>

  <div class="location-tags-container">
   <p class="pintextgray"> <%= @location.tag_list %> </p>

    <%= link_to "Add Tags", edit_map_added_location_path(@location), class: "ghost-btn" %>
  </div>

  <div class="location-description-container">

  </div>

  <div class="location-photo-container">

  </div>

  <div class="location-reviews-container">

  </div>


</div>
