<div class="location-page">

  <div class="location-image-container">
    <%= image_tag @added_location.photo.first, class:"location-image" %>
  </div>

  <div class="location-content-container">
    <div class="location-details">
      <h1><%= @added_location.name %></h1>
      <p><%= @added_location.types.first.capitalize %></p>
    </div>
    <p><%= @added_location.address %></p>
  </div>

  <div class="location-tags-container">
   <p class="pintextgray"> <%= @location.tag_list %> </p>

    <%= link_to "Add Tags", edit_map_added_location_path(@location), class: "ghost-btn" %>
  </div>

  <div class="location-description-container">

  </div>

  <div class="location-photo-container">

  </div>

  <div id="reviews">
    <% if @added_location.reviews.blank? %>
      Be the first to leave a review for <%= @added_location.name %>
    <% else %>
      <% @added_location.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
  </div>
  <div id="new_review">
    <%= render 'reviews/form', map: @map, added_location: @added_location, review: @review %>
  </div>
</div>
