<div class= "review-card-avatar" >
  <div class="review-card-user">
  <% if review.user.avatar.present? %>
    <%= cl_image_tag review.user.avatar.url(:avatar), class: "avatar-bordered"  %>
  <% else %>
    <%= image_tag "avatar.png",  class: "avatar-bordered" %>
  <% end %>
  <div class="review-card-infos">
    <h2><%= review.user.name %></h2>
    <p><%= review.user.email %></p>
    <p>Posted:<strong><%= review.created_at.strftime("%B %d, %Y") %></strong></p>
  </div>
  </div>
  <div>
    <p class="review-content"><%= review.content %></p>
  </div>
</div>

