<div class= "review-card-avatar" >
  <div>
    <% if review.user.avatar.present? %>
      <%= cl_image_tag review.user.avatar.url(:avatar), class: "avatar-bordered"  %>
    <% else %>
      <%= image_tag "avatar.png",  class: "avatar-bordered" %>
    <% end %>
  </div>
  <div class="review-card-infos">
    <div>
      <h2><%= review.user.name %></h2>
      <p><%= review.user.email %></p>
      <p><%= review.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div>
      <p><%= review.content %></p>
    </div>
  </div>
</div>
